body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('../images/tecnologia3.jpg') no-repeat center center fixed;
    background-size: cover;
}

#canvas-nest-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
